.container {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.row {
  max-width: $max_width_value;
  min-width: $max_width_value;
  margin: 0 auto;

  @include responsive(bigscreen, "") {
    max-width: 90%;
    min-width: 90%;
  }
  @include responsive(tablet, "") {
    max-width: 100%;
    min-width: 100%;
  }
}