.header {
  width: 100%;
  position: absolute;
  z-index: 999;

  .headerCont {
    height: 9rem;
    @include flex(row-reverse, space-between, center, "", "");

    .logo {
      padding: .5rem 1rem;
      border: 1px solid $black;
      font-size: 3rem;
      position: fixed;
      left: 8rem;
      top: 2rem;
    }
  }
}