
/* DEFAULT COLOR */
$white: #ffffff;
$black: #000000;


$special_border_bgColor: #dddddd;
$special_border_bgColor_active: #c9c9c9;
$special_border_fontColor: #9a9a9a;

/* DEFAULT VALUES */
$rem_size: 62.5%;
$max_width_value: 120rem;