.productdetailsCont {
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  @include flex(row-reverse, flex-start, center, "", "");

  .circle {
    position: absolute;
    width: 35vw;
    height: 35vw;
    top: 0;
    left: 17.5%;
    border-radius: 50%;
    background-size: 150%;
    background-position: left;
  }

  .productDetails {
    @include flex(row-reverse, flex-start, center, "", "");
    height: 170vh;
  }

  .details {
    width: 100%;
    @include flex(column, center, center, "", "");
    text-align: center;

    &.flexEnd {
      align-self: flex-end;
    }

    .titles {
      .title {
        font-size: 4rem;
      }

      .subtitle {
        font-size: 3rem;
        font-weight: 100;
      }
    }

    .sizeAndMore,
    .categegories,
    .categoriesDescription {

      .detailsRow {
        @include flex("", space-between, center, "", "");
        width: 100%;

        &.centered {
          @include flex("", center, center, "", "");
        }

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        .detailCont {
          @include flex("", flex-start, "", "", "");
          font-size: 1.8rem;
          color: $special_border_fontColor;

          .title {
            @include flex("", "", "", 0 0 auto, "");
          }

          .content {
            color: $black;
            font-weight: 600;
            text-align: left;
            padding-left: 1rem;
          }
        }
      }
    }

    .categegories {
      .detailsRow {
        padding: .5rem 1rem;



        .detailCont {
          width: 100%;
          color: $black;
          font-weight: 700;

          .title {

            &.active {
              background-color: $special_border_bgColor_active;
            }

            &.flex {
              @include flex("", flex-start, center, "", "");
              text-align: left;
              padding: 0 1rem;
            }
          }

          .content {
            color: $special_border_fontColor;
            text-align: left;
            padding-left: 1rem;

            &.nopadding {
              padding: 0;
              width: 100%;
            }

            .type {
              @include flex("", flex-start, center, 1 0 auto, "");
              padding: .5rem;
            }

            .active {
              background-color: $special_border_bgColor_active;
            }
          }
        }
      }
    }

    .categoriesDescription {
      width: 70%;
      padding: 1rem;

      .detailsRow {


        .detailCont {
          color: $black;
          font-size: 1.3rem;
          @include flex("", space-between, flex-start, "", "");

          .title {
            @include flex("", "", "", 0 0 auto, "");
          }

          .content {
            color: $special_border_fontColor;
            text-align: left;
            padding-left: 1rem;
          }
        }
      }
    }
  }
}