.tileMainDetails {
  width: 100%;
  @include flex("", center, center, "", "");
  padding-top: 9rem;

  @include responsive(tablet, "") {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @include responsive(tablet, "") {
    @include flex(column, center, center, "", "");
  }

  .image {
    width: 50%;
    align-self: flex-start;

    @include responsive(tablet, "") {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  .details {
    width: 50%;
    @include flex(column, center, center, "", "");
    align-self: flex-start;
    text-align: center;

    @include responsive(tablet, "") {
      width: 100%;
    }

    .titles {
      .title {
        font-size: 4rem;
      }

      .subtitle {
        font-size: 3rem;
        font-weight: 100;
      }
    }

    .sizeAndMore,
    .categegories,
    .categoriesDescription {

      .detailsRow {
        @include flex("", space-between, center, "", "");
        width: 100%;

        &.centered {
          @include flex("", center, center, "", "");
        }

        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        .detailCont {
          @include flex("", flex-start, flex-start, "", "");
          font-size: 1.8rem;
          color: $special_border_fontColor;

          .content {
            color: $black;
            font-weight: 600;
            text-align: left;
            padding-left: 1rem;
          }
        }
      }
    }

    .categegories {
      .detailsRow {
        padding: .5rem 1rem;

        &.active {
          background-color: $special_border_bgColor_active;
        }

        .detailCont {
          width: 100%;
          color: $black;

          .title {
            @include flex("", flex-start, center, 0 0 15%, "");
          }

          .content {
            color: $special_border_fontColor;
            text-align: left;
            padding-left: 1rem;
          }
        }
      }
    }

    .categoriesDescription {
      width: 70%;
      padding: 1rem;
      @include responsive(phone, "") {
        width: 100%;
      }
      .detailsRow {


        .detailCont {
          color: $black;
          font-size: 1.3rem;
          @include flex("", space-between, flex-start, "", "");

          .title {
            @include flex("", "", "", 0 0 10%, "");
          }

          .content {
            color: $special_border_fontColor;
            text-align: left;
            padding-left: 1rem;
          }
        }
      }
    }
  }
}