/* 
    ABSTRACT FILES
*/
/* DEFAULT COLOR */
/* DEFAULT VALUES */
/* flexbox values 

  *@params ( flex-direction , justify-content . align-items , flex , flex-wrap )

*/
/* responsive mixin 

  @params (breakpoint , screen-size)

  breakpoint => {
    0 - 600 = phone
    600 - 900 = tablet
    900 - 1600 = desktop
    1600 - infinity = bigscreen
  }

*/
/* 
    BASE FILES
*/
html {
  font-size: 62.5%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #000000; }

@font-face {
  font-family: 'germany';
  src: url("./../../fonts/GERMANY.TTF");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }

html,
body,
* {
  font-family: 'germany'; }

/* 
    LAYOUT FILES
*/
.container {
  width: 100%;
  position: relative;
  overflow-x: hidden; }

.row {
  max-width: 120rem;
  min-width: 120rem;
  margin: 0 auto; }
  @media only screen and (max-width: 900px) {
    .row {
      max-width: 100%;
      min-width: 100%; } }

.header {
  width: 100%;
  position: absolute;
  z-index: 999; }
  .header .headerCont {
    height: 9rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center; }
    .header .headerCont .logo {
      padding: .5rem 1rem;
      border: 1px solid #000000;
      font-size: 3rem;
      position: fixed;
      left: 7.6rem;
      top: 2rem;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #000000 50%);
      background-size: 300%;
      transition: .4s; }
      @media only screen and (max-width: 900px) {
        .header .headerCont .logo {
          left: 1rem;
          top: 2rem; } }
      .header .headerCont .logo:hover {
        background-position: 100%;
        color: #ffffff; }

/* 
    COMPONENT FILES
*/
.navigation {
  position: relative; }
  .navigation__checkbox {
    display: none; }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
    left: 0; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    transform: rotate(135deg);
    top: 0;
    background-color: #ffffff; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    transform: rotate(-135deg);
    top: 0;
    background-color: #ffffff; }
  .navigation__button {
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 7.5rem;
    top: 2rem;
    z-index: 903;
    cursor: pointer; }
    @media only screen and (max-width: 900px) {
      .navigation__button {
        right: 1rem;
        top: 2rem; } }
  .navigation__background {
    width: 6rem;
    height: 6rem;
    background-image: linear-gradient(#232526, #414345);
    position: fixed;
    right: 8rem;
    top: 2rem;
    z-index: 901;
    transform: scale(0);
    overflow: hidden;
    -webkit-transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); }
    @media only screen and (max-width: 900px) {
      .navigation__background {
        right: 1rem;
        top: 2rem; } }
  .navigation__nav {
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 902;
    opacity: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center; }
    @media only screen and (max-width: 600px) {
      .navigation__list {
        width: 90%; } }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:visited, .navigation__link:link {
    display: inline-block;
    font-size: 3rem;
    color: #ffffff;
    padding: 1rem 2rem;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffffff 50%);
    background-size: 300%;
    transition: .4s; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #000000;
    transform: translateX(1rem); }
  .navigation__icon {
    position: relative; }
    .navigation__icon, .navigation__icon::after, .navigation__icon::before {
      width: 3rem;
      height: 2px;
      background-color: #000000; }
    .navigation__icon::after, .navigation__icon::before {
      content: '';
      position: absolute;
      left: 0;
      transition: .3s; }
    .navigation__icon::before {
      top: -.8rem; }
    .navigation__icon::after {
      top: .8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }

.tilesSlider {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .tilesSlider .whiteshadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(-100deg, transparent 0%, transparent 30%, #ffffff 70%);
    z-index: 1; }
    @media only screen and (max-width: 900px) {
      .tilesSlider .whiteshadow {
        bottom: 0;
        left: 0;
        background-image: linear-gradient(180deg, transparent 0%, transparent 30%, #ffffff 75%); } }
  .tilesSlider .titles {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 70%;
    transform: translate(-70%, -50%);
    z-index: 6;
    text-align: center; }
    @media only screen and (max-width: 900px) {
      .tilesSlider .titles {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
    @media only screen and (max-width: 600px) {
      .tilesSlider .titles {
        width: 90%; } }
    .tilesSlider .titles h2 {
      font-size: 4rem; }
    .tilesSlider .titles h3 {
      font-size: 2rem; }
    .tilesSlider .titles .sliderlink {
      padding: 0.5rem;
      font-size: 1.5rem;
      margin: 1rem 0 0 0;
      display: inline-block;
      border: 1px solid #000000;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #000000 50%);
      background-size: 300%;
      transition: 0.4s; }
      .tilesSlider .titles .sliderlink:hover, .tilesSlider .titles .sliderlink:active {
        background-position: 100%;
        color: #ffffff; }
  .tilesSlider .shadow {
    z-index: -1;
    width: 70%;
    height: 2rem;
    position: absolute;
    top: 4.6rem;
    box-shadow: 0px 20px 40px #000;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: rotateX(-15deg) translateX(0%);
    transform-style: preserve-3d;
    transform: rotateX(-15deg) translateX(0%); }
  .tilesSlider .tiles {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    z-index: 2;
    left: -55%;
    top: 60%;
    transform: translate(0%, -50%); }
    @media only screen and (max-width: 900px) {
      .tilesSlider .tiles {
        width: 100vw;
        left: 5%;
        bottom: -10%;
        transform: translate(0%, 50%) rotate(-90deg); } }
    @media only screen and (max-width: 600px) {
      .tilesSlider .tiles {
        width: 100vw;
        left: 5%;
        bottom: -0%;
        transform: translate(0%, 50%) rotate(-90deg); } }
    .tilesSlider .tiles .tileCont {
      height: 5rem;
      position: relative;
      width: 100%;
      -webkit-perspective: 100px;
      perspective: 100px; }
      @media only screen and (max-width: 900px) {
        .tilesSlider .tiles .tileCont {
          height: 100%; } }
      .tilesSlider .tiles .tileCont .tile {
        position: absolute;
        width: 50%;
        height: 25rem;
        left: 50%;
        top: -19rem;
        background-size: 100% 100%;
        -webkit-transform-style: preserve-3d;
        -webkit-transform: rotateX(6deg) translateX(-50%);
        transform-style: preserve-3d;
        transform: rotateX(6deg) translateX(-50%);
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        transition: 0.5s;
        transition-delay: 0.2s; }
        .tilesSlider .tiles .tileCont .tile:hover {
          left: 75%; }
        .tilesSlider .tiles .tileCont .tile img {
          width: 100%;
          height: 100%; }
        .tilesSlider .tiles .tileCont .tile .tileborder {
          width: 99.8%;
          height: 1rem;
          position: absolute;
          z-index: 2;
          bottom: -0.9rem;
          left: 50%;
          -webkit-transform-style: preserve-3d;
          -webkit-transform: rotateX(-6deg) translateX(-50%);
          transform-style: preserve-3d;
          transform: rotateX(-6deg) translateX(-50%); }
  .tilesSlider .sliderCoverCont {
    width: 100%;
    height: 100%;
    position: absolute; }
    .tilesSlider .sliderCoverCont .sliderCover {
      width: 100%;
      height: 100%;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover; }

.extraCont {
  padding: 1rem; }
  .extraCont .mainSliderCont {
    width: 100%; }
    .extraCont .mainSliderCont .mainSlider {
      width: 100%;
      height: 30rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-position: center;
      background-size: cover; }
      .extraCont .mainSliderCont .mainSlider .title {
        background-color: rgba(0, 0, 0, 0.7);
        color: #ffffff;
        padding: 1rem 2rem;
        font-size: 5rem;
        outline: 3px solid #000000;
        outline-offset: 1rem; }
        @media only screen and (max-width: 900px) {
          .extraCont .mainSliderCont .mainSlider .title {
            font-size: 4rem; } }
  .extraCont .extraSliders {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem; }
    @media only screen and (max-width: 900px) {
      .extraCont .extraSliders {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center; } }
    .extraCont .extraSliders .extras {
      padding: 1rem;
      width: 39.3333333333rem;
      border: 2px solid #000000;
      align-self: stretch; }
      @media only screen and (max-width: 900px) {
        .extraCont .extraSliders .extras {
          width: 100%;
          margin: .5rem 0; } }
      .extraCont .extraSliders .extras.texty {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .extraCont .extraSliders .extras.texty .top,
        .extraCont .extraSliders .extras.texty .bottom {
          text-align: center;
          font-size: 3rem; }
        .extraCont .extraSliders .extras.texty .middle {
          text-align: center;
          font-size: 20rem; }
      .extraCont .extraSliders .extras .cover {
        width: 100%;
        height: 25rem;
        background-position: center;
        background-size: cover; }
      .extraCont .extraSliders .extras .text {
        width: 100%;
        padding: 1rem 1rem 5rem;
        font-size: 3rem; }

.owl-theme .owl-nav.disabled + .owl-dots {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -90%); }

#extraslider.owl-theme .owl-nav.disabled + .owl-dots {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -90%); }

.tileMainDetails {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 9rem; }
  .tileMainDetails .image {
    width: 50%;
    align-self: flex-start; }
    .tileMainDetails .image img {
      width: 100%; }
  .tileMainDetails .details {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    text-align: center; }
    .tileMainDetails .details .titles .title {
      font-size: 4rem; }
    .tileMainDetails .details .titles .subtitle {
      font-size: 3rem;
      font-weight: 100; }
    .tileMainDetails .details .sizeAndMore .detailsRow,
    .tileMainDetails .details .categegories .detailsRow,
    .tileMainDetails .details .categoriesDescription .detailsRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%; }
      .tileMainDetails .details .sizeAndMore .detailsRow.centered,
      .tileMainDetails .details .categegories .detailsRow.centered,
      .tileMainDetails .details .categoriesDescription .detailsRow.centered {
        display: flex;
        justify-content: center;
        align-items: center; }
      .tileMainDetails .details .sizeAndMore .detailsRow:not(:last-child),
      .tileMainDetails .details .categegories .detailsRow:not(:last-child),
      .tileMainDetails .details .categoriesDescription .detailsRow:not(:last-child) {
        margin-bottom: 1rem; }
      .tileMainDetails .details .sizeAndMore .detailsRow .detailCont,
      .tileMainDetails .details .categegories .detailsRow .detailCont,
      .tileMainDetails .details .categoriesDescription .detailsRow .detailCont {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 1.8rem;
        color: #9a9a9a; }
        .tileMainDetails .details .sizeAndMore .detailsRow .detailCont .content,
        .tileMainDetails .details .categegories .detailsRow .detailCont .content,
        .tileMainDetails .details .categoriesDescription .detailsRow .detailCont .content {
          color: #000000;
          font-weight: 600;
          text-align: left;
          padding-left: 1rem; }
    .tileMainDetails .details .categegories .detailsRow {
      padding: .5rem 1rem; }
      .tileMainDetails .details .categegories .detailsRow.active {
        background-color: #c9c9c9; }
      .tileMainDetails .details .categegories .detailsRow .detailCont {
        width: 100%;
        color: #000000; }
        .tileMainDetails .details .categegories .detailsRow .detailCont .title {
          display: flex;
          flex: 0 0 15%;
          justify-content: flex-start;
          align-items: center; }
        .tileMainDetails .details .categegories .detailsRow .detailCont .content {
          color: #9a9a9a;
          text-align: left;
          padding-left: 1rem; }
    .tileMainDetails .details .categoriesDescription {
      width: 70%;
      padding: 1rem; }
      .tileMainDetails .details .categoriesDescription .detailsRow .detailCont {
        color: #000000;
        font-size: 1.3rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start; }
        .tileMainDetails .details .categoriesDescription .detailsRow .detailCont .title {
          display: flex;
          flex: 0 0 10%; }
        .tileMainDetails .details .categoriesDescription .detailsRow .detailCont .content {
          color: #9a9a9a;
          text-align: left;
          padding-left: 1rem; }

.tileDetails {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  padding-top: 9rem;
  padding-bottom: 9rem; }
  .tileDetails .image {
    width: 50%;
    align-self: flex-start; }
    .tileDetails .image img {
      width: 30%; }
  .tileDetails .details {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    text-align: center; }
    .tileDetails .details .titles .title {
      font-size: 4rem; }
    .tileDetails .details .titles .subtitle {
      font-size: 3rem;
      font-weight: 100; }
    .tileDetails .details .sizeAndMore .detailsRow,
    .tileDetails .details .categegories .detailsRow,
    .tileDetails .details .categoriesDescription .detailsRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%; }
      .tileDetails .details .sizeAndMore .detailsRow.centered,
      .tileDetails .details .categegories .detailsRow.centered,
      .tileDetails .details .categoriesDescription .detailsRow.centered {
        display: flex;
        justify-content: center;
        align-items: center; }
      .tileDetails .details .sizeAndMore .detailsRow:not(:last-child),
      .tileDetails .details .categegories .detailsRow:not(:last-child),
      .tileDetails .details .categoriesDescription .detailsRow:not(:last-child) {
        margin-bottom: 1rem; }
      .tileDetails .details .sizeAndMore .detailsRow .detailCont,
      .tileDetails .details .categegories .detailsRow .detailCont,
      .tileDetails .details .categoriesDescription .detailsRow .detailCont {
        display: flex;
        justify-content: center;
        font-size: 1.8rem;
        color: #9a9a9a; }
        .tileDetails .details .sizeAndMore .detailsRow .detailCont .title,
        .tileDetails .details .categegories .detailsRow .detailCont .title,
        .tileDetails .details .categoriesDescription .detailsRow .detailCont .title {
          display: flex;
          flex: 0 0 auto; }
        .tileDetails .details .sizeAndMore .detailsRow .detailCont .content,
        .tileDetails .details .categegories .detailsRow .detailCont .content,
        .tileDetails .details .categoriesDescription .detailsRow .detailCont .content {
          color: #000000;
          font-weight: 600;
          text-align: left;
          padding-left: 1rem; }
    .tileDetails .details .categegories .detailsRow {
      padding: .5rem 1rem; }
      .tileDetails .details .categegories .detailsRow.active {
        background-color: #c9c9c9; }
      .tileDetails .details .categegories .detailsRow .detailCont {
        color: #000000;
        font-weight: 700; }
        .tileDetails .details .categegories .detailsRow .detailCont .content {
          color: #9a9a9a;
          text-align: left;
          padding-left: 1rem; }
    .tileDetails .details .categoriesDescription {
      width: 70%;
      padding: 1rem; }
      .tileDetails .details .categoriesDescription .detailsRow .detailCont {
        color: #000000;
        font-size: 1.3rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start; }
        .tileDetails .details .categoriesDescription .detailsRow .detailCont .title {
          display: flex;
          flex: 0 0 10%; }
        .tileDetails .details .categoriesDescription .detailsRow .detailCont .content {
          color: #9a9a9a;
          text-align: left;
          padding-left: 1rem; }

.specialBorder {
  width: 70%;
  padding: 1rem;
  background-color: #dddddd;
  outline: 1px solid #dddddd;
  outline-offset: 1rem;
  margin: 2rem 0; }

.productMainCont {
  width: 100%;
  height: 120vh;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: flex-end; }
  .productMainCont .productMain {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: flex-end; }
  .productMainCont .circle {
    position: absolute;
    width: 20vw;
    height: 20vw;
    top: 55%;
    left: 25%;
    border-radius: 50%;
    border: 1px dashed #000000; }
    .productMainCont .circle::after {
      content: '';
      width: 1px;
      height: 20vh;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      border-left: 1px dashed #000000; }
  .productMainCont .whiteShadow {
    width: 100%;
    height: 30%;
    position: absolute;
    top: 0;
    background-image: url("./../../images/productImages/whiteshadow.png");
    background-position: center;
    background-repeat: repeat-x;
    background-size: auto 100%; }
  .productMainCont .details {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .productMainCont .details .titles .title {
      font-size: 4rem; }
    .productMainCont .details .titles .subtitle {
      font-size: 3rem;
      font-weight: 100; }
    .productMainCont .details .sizeAndMore .detailsRow,
    .productMainCont .details .categegories .detailsRow,
    .productMainCont .details .categoriesDescription .detailsRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%; }
      .productMainCont .details .sizeAndMore .detailsRow.centered,
      .productMainCont .details .categegories .detailsRow.centered,
      .productMainCont .details .categoriesDescription .detailsRow.centered {
        display: flex;
        justify-content: center;
        align-items: center; }
      .productMainCont .details .sizeAndMore .detailsRow:not(:last-child),
      .productMainCont .details .categegories .detailsRow:not(:last-child),
      .productMainCont .details .categoriesDescription .detailsRow:not(:last-child) {
        margin-bottom: 1rem; }
      .productMainCont .details .sizeAndMore .detailsRow .detailCont,
      .productMainCont .details .categegories .detailsRow .detailCont,
      .productMainCont .details .categoriesDescription .detailsRow .detailCont {
        display: flex;
        justify-content: center;
        font-size: 1.8rem;
        color: #9a9a9a; }
        .productMainCont .details .sizeAndMore .detailsRow .detailCont .title,
        .productMainCont .details .categegories .detailsRow .detailCont .title,
        .productMainCont .details .categoriesDescription .detailsRow .detailCont .title {
          display: flex;
          flex: 0 0 auto; }
        .productMainCont .details .sizeAndMore .detailsRow .detailCont .content,
        .productMainCont .details .categegories .detailsRow .detailCont .content,
        .productMainCont .details .categoriesDescription .detailsRow .detailCont .content {
          color: #000000;
          font-weight: 600;
          text-align: left;
          padding-left: 1rem; }
    .productMainCont .details .categegories .detailsRow {
      padding: .5rem 1rem; }
      .productMainCont .details .categegories .detailsRow.active {
        background-color: #c9c9c9; }
      .productMainCont .details .categegories .detailsRow .detailCont {
        color: #000000;
        font-weight: 700; }
        .productMainCont .details .categegories .detailsRow .detailCont .content {
          color: #9a9a9a;
          text-align: left;
          padding-left: 1rem; }
    .productMainCont .details .categoriesDescription {
      width: 70%;
      padding: 1rem; }
      .productMainCont .details .categoriesDescription .detailsRow .detailCont {
        color: #000000;
        font-size: 1.3rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start; }
        .productMainCont .details .categoriesDescription .detailsRow .detailCont .title {
          display: flex;
          flex: 0 0 10%; }
        .productMainCont .details .categoriesDescription .detailsRow .detailCont .content {
          color: #9a9a9a;
          text-align: left;
          padding-left: 1rem; }

.productdetailsCont {
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center; }
  .productdetailsCont .circle {
    position: absolute;
    width: 35vw;
    height: 35vw;
    top: 0;
    left: 17.5%;
    border-radius: 50%;
    background-size: 150%;
    background-position: left; }
  .productdetailsCont .productDetails {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    height: 170vh; }
  .productdetailsCont .details {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .productdetailsCont .details.flexEnd {
      align-self: flex-end; }
    .productdetailsCont .details .titles .title {
      font-size: 4rem; }
    .productdetailsCont .details .titles .subtitle {
      font-size: 3rem;
      font-weight: 100; }
    .productdetailsCont .details .sizeAndMore .detailsRow,
    .productdetailsCont .details .categegories .detailsRow,
    .productdetailsCont .details .categoriesDescription .detailsRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%; }
      .productdetailsCont .details .sizeAndMore .detailsRow.centered,
      .productdetailsCont .details .categegories .detailsRow.centered,
      .productdetailsCont .details .categoriesDescription .detailsRow.centered {
        display: flex;
        justify-content: center;
        align-items: center; }
      .productdetailsCont .details .sizeAndMore .detailsRow:not(:last-child),
      .productdetailsCont .details .categegories .detailsRow:not(:last-child),
      .productdetailsCont .details .categoriesDescription .detailsRow:not(:last-child) {
        margin-bottom: 1rem; }
      .productdetailsCont .details .sizeAndMore .detailsRow .detailCont,
      .productdetailsCont .details .categegories .detailsRow .detailCont,
      .productdetailsCont .details .categoriesDescription .detailsRow .detailCont {
        display: flex;
        justify-content: flex-start;
        font-size: 1.8rem;
        color: #9a9a9a; }
        .productdetailsCont .details .sizeAndMore .detailsRow .detailCont .title,
        .productdetailsCont .details .categegories .detailsRow .detailCont .title,
        .productdetailsCont .details .categoriesDescription .detailsRow .detailCont .title {
          display: flex;
          flex: 0 0 auto; }
        .productdetailsCont .details .sizeAndMore .detailsRow .detailCont .content,
        .productdetailsCont .details .categegories .detailsRow .detailCont .content,
        .productdetailsCont .details .categoriesDescription .detailsRow .detailCont .content {
          color: #000000;
          font-weight: 600;
          text-align: left;
          padding-left: 1rem; }
    .productdetailsCont .details .categegories .detailsRow {
      padding: .5rem 1rem; }
      .productdetailsCont .details .categegories .detailsRow .detailCont {
        width: 100%;
        color: #000000;
        font-weight: 700; }
        .productdetailsCont .details .categegories .detailsRow .detailCont .title.active {
          background-color: #c9c9c9; }
        .productdetailsCont .details .categegories .detailsRow .detailCont .title.flex {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          text-align: left;
          padding: 0 1rem; }
        .productdetailsCont .details .categegories .detailsRow .detailCont .content {
          color: #9a9a9a;
          text-align: left;
          padding-left: 1rem; }
          .productdetailsCont .details .categegories .detailsRow .detailCont .content.nopadding {
            padding: 0;
            width: 100%; }
          .productdetailsCont .details .categegories .detailsRow .detailCont .content .type {
            display: flex;
            flex: 1 0 auto;
            justify-content: flex-start;
            align-items: center;
            padding: .5rem; }
          .productdetailsCont .details .categegories .detailsRow .detailCont .content .active {
            background-color: #c9c9c9; }
    .productdetailsCont .details .categoriesDescription {
      width: 70%;
      padding: 1rem; }
      .productdetailsCont .details .categoriesDescription .detailsRow .detailCont {
        color: #000000;
        font-size: 1.3rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start; }
        .productdetailsCont .details .categoriesDescription .detailsRow .detailCont .title {
          display: flex;
          flex: 0 0 auto; }
        .productdetailsCont .details .categoriesDescription .detailsRow .detailCont .content {
          color: #9a9a9a;
          text-align: left;
          padding-left: 1rem; }

/* 
    PAGES FILES
*/
